@import "../../../../assets/styles/controls.scss";

.login {
  display: flex;
  height: 100%;

  .splash {
    flex: 5;
    position: relative;
    text-align: center;
    color: white;
    font-size: 3rem;

    *:not(.overlay) {
      z-index: 2;
    }
  }

  .form {
    flex: 3;

    form {
      width: 25rem;
      flex-direction: column;
      justify-content: stretch;
      gap: 1rem;

      * {
        width: 100%;
      }
    }
  }
}
