@use "@angular/material" as mat;
@import "./theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &.light {
    @include mat.all-component-themes($angular-base-theme);
  }

  &.dark {
    background-color: #303030;
    color: white;
    @include mat.all-component-themes($angular-base-dark);
  }
}

* {
  text-align: start;
  transition: all 200ms;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
