@use "@angular/material" as mat;
@import "./theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &.light {
    @include mat.all-component-themes($angular-base-theme);
  }

  &.dark {
    background-color: #303030;
    color: white;
    @include mat.all-component-themes($angular-base-dark);
  }
}

* {
  transition: all 200ms;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.separator {
  flex: 1;
}

.mat-menu-item {
  font-size: 1rem;

  .mat-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

@keyframes skeleton {
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.25;
  }
}
