@import "./variables.scss";

// General controls

a {
  text-decoration: none;
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

// Material stuff

.mat-form-field {
  margin: 0;
  width: 100%;

  .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0;
  }
}
